@model Library3.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password - ";
}
<h2>Зміна пароля для користувача @Model.Name</h2>
<form asp-action="ChangePassword" asp-controller="Users" class="col-md-4">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="knopka_all" style="margin-left:3%; margin-bottom:0%" />
        
    </div>
    <div><a asp-action="Index" asp-controller="Users">  Back to List</a></div>
</form>